*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url('/public/rochi-1.webp');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}